<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
">
    <http pattern="/resources/**" security="none" />
    <http use-expressions="true">
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/**" access="hasRole('ADMIN')"/>
        <form-login login-page="/login" default-target-url="/item/form" always-use-default-target="true" authentication-failure-url="/login?error=true"/>
        <logout />
        <csrf disabled="true" />
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="arya" password="bandenk" authorities="ROLE_USER, ROLE_ADMIN" /> 
                <user name="bandenk" password="bandenk" authorities="ROLE_USER" /> 
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>